<div class="wrapper">
    <div class="box">
        <div class="row">
          
            <!-- sidebar -->
            <div class="column col-sm-1" id="sidebar">
                <a class="logo" href="#">rC</a>
<!--                 <ul class="nav">
                    <li class="active"><a href="#featured">Featured</a>
                    </li>
                    <li><a href="#stories">Stories</a>
                    </li>
                </ul>
                <ul class="nav hidden-xs" id="sidebar-footer">
                    <li>
                      <a href="http://www.bootply.com"><h3>readList.co</h3><i class="glyphicon glyphicon-heart-empty"></i> by @rajeevamatya</a>
                    </li>
                </ul> -->
            </div>
            <!-- /sidebar -->
          
            <!-- main -->
            <div class="column col-sm-11" id="main">

                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->
                        
                                              
                        <div class="col-sm-12" id="stories">  
                          <div class="page-header text-muted divider">
                            All Topics
                          </div>
                          <p><%= link_to "Create new topic", new_topic_path%></p>

                        </div>
                        
                        <% @topics.each do |topic| %>
                        <!--/stories-->
                        <div class="row">    
                          <div class="col-sm-10">
                            <h3><%= link_to topic.title, topic_path(topic) %></h3>
                            <h4><span class="label label-default">Ruby on rails</span></h4><h4>
                            <p><%= topic.description %></p>
                            <small class="text-muted">1 hour ago • <a href="#" class="text-muted">Read More</a></small>
                            </h4>
                          </div>
                          <div class="col-sm-2">
<!--                             <a href="#" class="pull-right"><img src="https://si0.twimg.com/profile_images/2184974868/Fh1LUkrI_bigger" class="img-circle"></a> -->
                          </div> 
                        </div>
                        
                        <div class="row divider">    
                           <div class="col-sm-12"><hr></div>
                        </div>
                        <% end %>
                        
                                         
<!--                         <div class="col-sm-12">
                          <div class="page-header text-muted divider">
                            Up Next
                          </div>
                        </div>
                      
                        <div class="row">    
                          <div class="col-sm-4 text-center">
                            <h4>Related 1</h4>
                            <a href="#"><img src="//placehold.it/100" class="img-circle"></a>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h4>Related 2</h4>
                            <a href="#"><img src="//placehold.it/100" class="img-circle"></a>
                          </div>
                          <div class="col-sm-4 text-center">
                            <h4>Related 3</h4>
                            <a href="#"><img src="//placehold.it/100" class="img-circle"></a>
                          </div>
                        </div> -->
                      
                      
                        <div class="col-sm-12">
                          <div class="page-header text-muted divider">
                            Connect with Us
                          </div>
                        </div>
                      
                        <div class="row">
                          <div class="col-sm-6">
                            <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                          </div>
                        </div>
                        
                        <hr>
                      
                        <div class="row" id="footer">    
                          <div class="col-sm-6">
                            
                          </div>
                          <div class="col-sm-6">
                            <p>
                            <a href="#" class="pull-right">©Copyright 2013 | www.readlist.co</a>
                            </p>
                          </div>
                        </div>

                       
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>